body{

background-image: linear-gradient(white, gray);
}


header img {
    width: 100%; /* This streches the image across the view port*/
    height: auto ; /* The height will change based on the size of the veiw port*/
    max-width: 500px;
}

nav {
    /*background-color: white;
    border-top: solid 0.3em  black;
    border-bottom: solid 0.3em black;*/
    margin-bottom: 1em; /*Places spaces between elements*/
   /*border-radius: 1.0em; /* This rounds the corners of elements*/

    font-weight: bold;
    text-align: center;
}

nav ul{

    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

}

nav ul li{

    background-color: black;
    /*padding: 1em;*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   
    margin: 0.75em;
    list-style-type: none; /* this removes bullets points*/
}

nav ul li a {

    color: white;
    text-decoration: none; /*this remocve the unline from the hyperlink*/

}

figure{
    text-align: center;
    background-color: black;
}

figure img  {

    max-width: 800px;
    /*max-height: 600px;*/
    width: 100%;
    height: auto;


}


main {
    /*background-color: white;
    border-top: solid 0.3em  black;
    border-bottom: solid 0.3em black;*/
    background-image: linear-gradient(white, white, gray);
    min-height: 400px;
    border-radius: 1.0em; /* This rounds the corners of elements*/
    margin-bottom: 1em;
    padding: 1em;
}

/* This was for the 3-column layout - Begin */
main .row:after{
    content: "";
    display: table;
    clear: both;
}

main div .column {
    float:left;
}

main div .left{
    padding: 0.5%;
    width: 20%;
    float: left;
   
}

main  div .center{
    padding: 10px;
    /*width:45%;*/

   
}

main div .right{
padding: 2em;
width: 25%;
float:right;


}


/* Table schdule begin */

.schedule table{
    border-collapse: collapse;
    border: 0.1em solid black;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
}

.schedule caption {

    border: 0.1em solid black;
    font-size: 1.5em;
    font-weight: bold;

}

.schedule th, .schedule td {

    border: 0.1em solid black;
    padding :0.5em;
    text-align: center;

}

.schedule th {

    background-color: black;
    color: white;

}

#enrollprice{

    border: 0.1em solid black;
    border-collapse: collapse;

}

#enrollprice td {

    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}


/* Table schdule End */


footer{
    background-image: linear-gradient(to right, white, gray);
    border-radius: 1.0em;
    padding: 25px;
    box-shadow: 0.5em 0.5em 0.5em black;
    text-align: center;
}

/*Being mobile*/

@media screen and (max-width: 640px) {

    nav ul li {
        border-radius: 1em;
    }
    .tablet {
        display: none;
    }

    .desktop{
        display: none;
    }


}
/*end moblie*/


/*Being Tablet*/
@media screen and (min-width: 641px) {

    nav ul li {
        display: inline-block; /*This list them horizintally and allows them to stretch*/
        border-radius: 1em;
        box-shadow: 0.5em 0.5em 0.5em black;
        min-width: 10%;
         padding:0.70em;
        /*margin: 0.75em;*/
        border-top: solid  .2em black;
        border-bottom: solid .2em black;
    }
    .desktop{
        display: none;
    }

    figure {
        box-shadow: 0.5em 0.5em 0.5em black;
    }


    main{

        box-shadow: 0.5em 0.5em 0.5em black;
    }

    main  div .center{
       padding: 30px;
       width: 55%;
        border-right: 0.3em solid black;
        
       
    }

    .footer{
        box-shadow: 0.5em 0.5em 0.5em black;
    }

}
/*end Tablet*/


/*Being Desktop*/
@media screen and (min-width: 961px) {


    header{
        background-image: linear-gradient(to right, white,black, black, black);
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    header img{
        width: auto;
        height: 10em;
    }

    nav{
        background-color: black ;
        float: right; /*float the nav element to the right side of the page*/
        margin-top: -8em; /*This move the nav above where it would normally be*/
        width:57%;
        border-top: solid 0.2em black;
        border-bottom:  solid 0.2em black;
       
        
    }
    

    nav ul li {
        display: inline-block; /*This list them horizintally and allows them to stretch*/
       
        max-width: 12%;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        list-style-type: none;
    }
    .desktop {
        display:block;
    }

    main  div .center{
        padding: 10px;
        width:45%;
    
        border-left: 0.3em solid black;
        border-right: 0.3em solid black;
       
    }
        

}
/*end Desktop*/